.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
h1 {
    text-align: center;
    margin-top:40px;
    margin-bottom:60px;
}

.btn {
    text-align: center;
}

#handy2 {
    height: 5vh !important;
    width: 5vw !important;
}

/* styling for abouthandy.html*/

#about {
  height: 30vh;
    background-color: orange;
}
#about h1 {
    font-size: 64px;
    text-align: center;
}
h1 {
    margin-top: 5vh;
}

#empOremp {
    height: 5%;
    width:100%;
    text-align: center;
}
